<ion-view view-title="Chats">
  <ion-content>
<ion-list>
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="comp in resultList" >
        <h2>{{comp.company_name}}</h2>
        <h1>{{comp.item_img_url}}</h1>
        <h2>{{comp.tag}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(comp)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
